header {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 20px;
}

header nav {
	display: flex;
	justify-content: space-between;
	width: 690px
}


header nav a {
	display: flex;
	font-size: 18px;
	color: lightgray;
	text-decoration: none;
}

header nav a:hover {
	text-decoration: none;
}

header nav a:last-child {
  margin-right: 50px;
}

header .logo {
	display: inline-block;
}
.middle {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    justify-content: space-around;
}
.services-header-img {
    display: flex;
    width: 1200px;
    align-items: stretch;
    margin: 40px;
}

.services-header {
    border-bottom: 2px solid black;
}

.services-header h2 {
    font-size: 30px;
}

.service-container {
    justify-content: space-between;
    padding: 40px 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.service-block {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    border: 2px solid black;
    margin-bottom: 35px;
    background-color: whitesmoke;
    padding: 20px;
}

.service-block button {
    margin-top: 15px;
    background-color: white;
    padding: 10px;;
    border: 2px solid black;
    border-radius: 8px;
}

.service-facts {
    display: flex;
    padding-top: 45px;
    border-top: 2px solid black;
}

.facts-container {
    padding-right: 45px;
}

.facts-container ul {
    margin-top: 15px;
}

.facts-container ul li {
    margin: 10px;
    list-style-type: square;
    margin-left: 20px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}